* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-color: #fff;
    background-position: center;
    height: 109vh;
}

.navbar {
    background-color: #fdfdfd;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.06);
    height: 90px;
    position: sticky;
    z-index: 9999;
    top: 0px;
}

.navbar_container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_container_logo {
    position: absolute;
    width: 94.78px;
    height: 40px;
    left: 232.5px;
    top: 25px;
}

.navbar_container_button_tryFreeBtn {
    position: absolute;
    width: 240.2px;
    height: 55px;
    right: 232.5px;
    top: 17.5px;

    background: #06B89D;
    border-radius: 15px;
    border: none;

    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff
}

.herosection {
    position: absolute;
    width: 100%;
    height: 934px;
    top: 90px;

    background: linear-gradient(180deg, #C9D7FF 6.25%, rgba(255, 223, 218, 0.55) 60.98%, rgba(252, 244, 236, 0) 100%);

}

.herosection_top {
    height: 60%;
    display: flex;
}

.herosection_top_tagline {
    position: absolute;
    width: 60%;
    height: 271.18px;
    left: 232.5px;
    top: 140.15px;


}

.herosection_top_tagline .title {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 64px;
    line-height: 115%;
    letter-spacing: -0.02em;

    color: #31556F;

}

.herosection_top_tagline .description {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.28px;
    margin-top: 30px;

    color: rgba(49, 85, 111, 0.6);

}

.herosection_top_image {
    position: absolute;
    width: 40%;
    height: 271.18px;
    right: 232.5px;

}

.herosection_top_image .top_ellipse {
    position: absolute;
    top: 30.16px;
    width: 49.97px;
    height: 49.97px;
    left: 150px;
    border-radius: 50%;


    background: linear-gradient(180deg, #E3E8F7 0%, #F3E9E9 45.08%, #FBEBE4 81.44%);
    transform: rotate(-180deg);

}

.herosection_top_image .center_ellipse {
    position: absolute;
    width: 361.55px;
    height: 360.08px;
    right: 60px;
    top: 38.97px;
    border-radius: 50%;

    background: linear-gradient(180deg, #E3E8F7 0%, #F3E9E9 45.08%, #FBEBE4 81.44%);
    transform: rotate(-180deg);

}

.herosection_top_image .bottom_ellipse {
    position: absolute;
    width: 49.97px;
    height: 49.97px;
    right: 20px;
    top: 352.02px;
    border-radius: 50%;

    background: linear-gradient(180deg, #E3E8F7 0%, #F3E9E9 45.08%, #FBEBE4 81.44%);
    transform: rotate(-180deg);

}

.herosection_top_image .image {
    position: absolute;
    width: 367.42px;
    height: 414.45px;
    top: 116.87px;
    right: 60px;

}

.herosection_bottom {
    height: 40%;

}

.herosection_bottom .image {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.herosection_bottom .image .hill_track_img {
    position: absolute;
    width: 322.26px;
    height: 141.8px;
    top: 569.7px;


}

.herosection_bottom .image p {
    position: relative;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    top: 87.14px;

    color: #31556F;

}

.herosection_bottom .image .arrow_down_img {
    z-index: 9999;
    position: relative;
    top: 15px;
}

.herosection_bottom .brand_gallery {
    padding: 0 300px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 122px;
}

.herosection_bottom .brand_gallery .business_insider {
    width: 90.22px;
    height: 28.04px;
}

.herosection_bottom .brand_gallery .newsweek {
    width: 159.1px;
    height: 24.76px;
}

.herosection_bottom .brand_gallery .washington {
    width: 177.07px;
    height: 31.33px;
}

.herosection_bottom .brand_gallery .vogue {
    width: 111.2px;
    height: 28.42px;
}

.herosection_bottom .brand_gallery .cw {
    width: 75px;
    height: 35.2px;
}

.mission_section{
    position: absolute;


}